*{
    font-family: 'Anton', sans-serif;
}





.albumImage {
width: 100%;
height: 2000px;

background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url('https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=6000');
background-position: center;
background-size: cover;;

color: white;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.infoBox{

border-radius: 10%;
background-color: royalblue;
background-color: rgba(65, 105, 225, 0.5);
}
.infoBox >.info{
margin: 20px 20px 20px 20px;
}    
.info >.input{
border-radius: 10%;
}
.btn_sign{
text-align: center;
border-radius: 10%; 
margin: 5px 5px 5px 5px;


}
.signin{
text-align: center;             
}
.btn_wrap{

display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
