*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 400px;
    background: url(https://img.etnews.com/news/article/2022/10/30/article_30091212839104.jpg) no-repeat center;
    background-size: auto;
}
.login_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    
}
.login_box::before{
    content:"";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.login-form{
    position: relative;
    z-index: 2;
}
.login-form h1{
    font-size: 32px;
    color: black;
    text-align: center;
    margin-bottom: 60px;
}
.login-area{
    width: 400px;
    position: relative;
    margin-top:20px;
}
.login-area:first-child{
    margin-top:  0;
}
.login-area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: black;
    outline: none;
}
.login-area label{
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 18px;
    color: #999;
    transition: all .5s ease;
}
.login-area label.warning{
    
    animation: warning .3s ease;
    animation-iteration-count: 3;
}
.login-area input:focus + label,
.login-area input:valid + label{
    top:-2px;
    font-size:13px;
}
.btn-area{
    margin-top: 30px;
}
.btn-area button{
    width:100%;
    height: 50px;
    background: #166cea;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}