<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="뉴진스 팬클럽"/> <!-- 카드에 표시하고 싶은 제목 -->
    <meta property="og:image" content="https://img.etnews.com/news/article/2022/10/30/article_30091212839104.jpg"/> <!-- 카드에 표시하고 싶은 이미지 -->
    <meta property="og:url" content="login.html"/> <!-- 표시하고싶은 url주소 -->

    <meta property="og:description" content="뉴진스 팬클럽에 어서오세요"/> <!-- 카드에 표시하고 싶은 설명 -->


   

      <title>Bunnies</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="icon" href="../static/imgs/favicon.ico">
    <script src="../javascript/main.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta property="og:description" content="뉴진스 팬클럽에 어서오세요"/> <!-- 카드에 표시하고 싶은 설명 -->    
  
  </head>
  <body>
    <header>

    </header>
    
    <form action="/login" method="post">
      <div class="login_box">
        <section class="login-form">
          <h1>Bunnies</h1>
            
              <div class="login-area">
                <input type="text" name="id" id="userId" spellcheck ="false" autocomplete="off" required>
                <label for="id">ID</label>
              </div>
              <div class="login-area">
                <input type="password" name="pw" id="userPW" spellcheck ="false" autocomplete="off" required>
                <label for="pw">PASSWORD</label>
              </div>
              <div class="btn-area">
                <button id = "btn_login" type="submit" onclick="login()">로그인</button>
                  <button type="button" onclick="location.href='/signin'">회원가입</button>
              </div>
        </section>
      </div>
    </form>


    <script>
      let id = $('#userId')
      let pw = $('#userPW')
      let login_btn = $('#btn_login')
      

      // $(login_btn).on('click', function(){
      //   if($(id).val() == ""){
      //     $(id).next('label').addClass('warning');
      //   }
      //   else if($(pw).val()==""){
      //     $(pw).next('label').addClass('warning');
      //   }
      // })
      
    </script>
  </body>
  
 
</html>
